body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    word-spacing: 5px;
    line-height: 0.6cm;
}

.span {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-indent: 50px;

}

.nav ul {
   
    text-align: left;
}

.nav li {
    display: inline;
    margin: 0 10px;

}

.nav a {
    color: red;
    font-weight: bold;

}

nav a:hover {
    color: #e0d8d8;
}

.a {
    text-decoration: none;
}

.bold {
    background-color: bisque;
}

.links {
    background-color: gainsboro;
}

.reference {
    font-style: italic;
}

.collapsible {
    cursor: pointer;
    padding: 5px;
    text-align: left;
    transition: 1.0s;
    transform: scale(0.99);

}

.collapsible:hover {
    transform: scale(1.0);
}

.collap {
    cursor: pointer;
    padding: 5px;

}

.collap:hover {
    color: darkblue;
}

.content {
    display: none;
    padding: 10px;
    border-top: 1px solid #ddd;
}

h6 {
    text-align: right;
}

/* index.html */
body {
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    overflow-x: hidden;
    text-align: center;
  }
video {
position: fixed;
width: 100%;
height: 100%;
object-fit: cover;
z-index: -1;
}

.navbar {
background-color: rgba(0, 0, 0, 0.5);
}

.container {
margin-top: 100px;
}

h1 {
font-size: 2rem;
animation: fadeIn 2s ease-in-out;
}

.card {
background-color: rgba(255, 255, 255, 0.1);
border: none;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
transition: transform 0.3s;
}

.card:hover {
transform: scale(1.05);
}

.card-title {
font-size: 1.5rem;
font-weight: bold;
}

.card-title {
font-size: 1.2rem;
font-weight: bold;
}

@keyframes fadeIn {
from {
  opacity: 0;
} to {
  opacity: 1;
}
}
